/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Apr 2024, 5:15:40 PM
    Author     : thobi
*/

header{

    width: 100%;
    height:30vh;
    background-image:  linear-gradient(rgba(228, 217, 220, 0.9), rgba(228, 217, 220, 0.9), rgba(228, 217, 220, 0.9), rgba(228, 217, 220, 0.9) , rgba(228, 217, 220, 0.9)),url("mma whatwhat.jpg");
    background-position: center;
    background-size: cover;
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 50px;
    backdrop-filter: blur(10px);
    margin-bottom: 40px;
}

.box_wrap{
    height: 15cm;
}

.box{
    width: 70%;
    min-height: 3cm;
    background-color: #D6D6D6;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.content_in_box{
    width: 90%;
}

.detail{
    margin-bottom: 20px;
}

#create_appointment{
    background-color: #F58F7C ;
}

footer{
    margin-top: 2cm;
    height: 2cm;
    background-color: #4F4F51;
    display: flex;
    align-items: center;
    color: #D6D6D6;
    
}

